.container {
    margin-top: 20px;
    margin-bottom: 20px;
}

#underline {
    height: 20px;
    color: red;
    z-index: 1000;
}

.card-text {
    margin: 2px;
    font-size: 14px;
}

#txtdetail {
    font-size: 13px;
    display: inline;
}

.card {
    border: solid 1px grey;
    padding: 6px;
    margin-top: 14px;
}

#img-box {
    max-height: 250px;
    min-height: 250px;
    border-radius: 5px;
    overflow: hidden;
}

.col-sm-12.col-md-12.col-lg-12.col-xl-12 {
    text-align: center;
    margin-top: 9px;
}

.btn {
    margin: 5px;
    min-width: 65px;
}

img {
    width: 100%;
    height: 100%;
}

.carousel-item {
    height: 580px;
}

#slide-3 {
    height: 580px;
}

#pagination-wrap {
    text-align: center;
}

#content-detail-wraper {
    padding: 8px 35px;
    margin: 11px 28px;
}

#text-wraper p {
    font-size: 20px;
}

#header-book {
    color: rgb(183, 99, 1);
}

#text-wraper {
    margin-top: 40px;
}
