<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<aside class="main-sidebar" th:fragment="sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <!-- search form -->
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MAIN NAVIGATION
            <li>
                <a href="/dashboard"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
        </li>
            <li class="treeview menu-open">
                <a href="#">
                    <i class="fa fa-book"></i><span th:text="#{book}">Layout Options</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/create"><i class="fa fa-circle-o"></i><span th:text="#{menu.createbook}"></span></a></li>
                    <li><a href="/viewall"><i class="fa fa-circle-o"></i> <span th:text="#{BookList}"></span></a></li>
                </ul>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
</body>
</html>