<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/admin-layout/adminlayout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="content-wrapper" layout:fragment="content">
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Data Table With Full Features</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="table-book" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Image</th>
                                <th>Code</th>
                                <th th:text="#{table.title}">Title</th>
                                <th th:text="#{table.author}">Author</th>
                                <th th:text="#{category}">CSS grade</th>
                                <th th:text="#{table.publisher}"></th>
                                <th th:text="#{publishdate}"></th>
                                <th th:text="#{table.action}"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="obj : ${books}" th:object="${obj}">
                                <td><img th:src="*{thumbnail}"  alt="img"></td>
                                <td><a th:href="@{/view/{id}(id=*{getId()})}" th:text="*{id}"></a></td>
                                <td th:text="*{title}">Call of Duty IV</td>
                                <td th:text="*{author}"></td>
                                <td th:text="*{category.cate_name}"></td>
                                <td th:text="*{publisher}"></td>
                                <td th:text="*{publishdate}"></td>
                                <td>
                                    <a class="btn btn-link btn-sm" role="button" href>
                                    <i class="fa fa-eye"></i>
                                </a>
                                    <a class="btn btn-link btn-sm" role="button" href><i class="fa fa-pencil-square-o"></i></a>
                                    <button class="btn btn-link btn-sm" type="button"><i class="fa fa-trash-o"></i></button></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </section>
</div>
<script layout:fragment="myscript">
    $(function () {
        $('#table-book').DataTable({
            'paging'      : true,
            'lengthChange': true,
            'searching'   : true,
            'ordering'    : true,
            'info'        : true,
            'autoWidth'   : false
        })
    })
</script>
</body>
</html>